<div ng-controller = "leaderBoards">

  <div class = "col-sm-2">
    <label> View Leaderboard </label>
    <%= select_tag "Leaderboards", options_for_select(@file_list), class: "form-control", "ng-model": "leaderboard", prompt: "Select Leaderboard" %> <br/>
    <button style = "float: right" type = "button" class = "btn" ng-click = "getCsv()">Get Leaderboard</button>
  </div>

  <div class = "col-sm-10">
    <center>
      <div data-loading>
        <%= image_tag "loading_text.png", :style => "width: 20%" %>
      </div>
    </center>
    <div ng-if = "show">
      <h3>{{title}}</h3>
      <input type="checkbox" ng-model="checkbox.checked" ng-click="setFilter()">Filter IITD Students</input>
      <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
  </div>
</div>